.main-content {
	height: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	position: relative;
}

.main-content-img {
	width: 60%;
}

.main-info-container {
	height: 100%;
	width: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.main-info {
	width: 70%;
	text-align: left;
	display: flex;
	flex-direction: column;
	gap: 35px;
}

.main-info-container h1 {
	font-size: 60px;
	font-weight: 600;
}

.main-info-container p {
	max-width: 610px;
	font-size: 22px;
	color: var(--dark-gray);

	line-height: 1.3;
}

.shop-now-container {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 40px;
}

.shop-now-container p {
	text-transform: uppercase;
	letter-spacing: 15px;
	color: var(--black);
}

.shop-now-container:hover {
	filter: invert(62%) sepia(16%) saturate(8%) hue-rotate(326deg)
		brightness(100%) contrast(92%);
}

.change-img-button-container {
	position: absolute;
	display: flex;
	flex-direction: row;
	bottom: 0;
	left: 60%;
}

.change-img-button-container > * {
	background-color: var(--black);
	padding: 30px 40px;
}

.change-img-button-container > *:hover {
	background-color: var(--dark-gray);
	cursor: pointer;
}
